*{margin: 0;padding: 0;box-sizing:border-box;}

ul{list-style: none;}
.wrap{width: 800px;height: 600px;margin:50px auto;border:1px solid #E1E1E2;}
nav{width: 100%;height: 50px;background:#EDB463; }
nav img{width: 800px;height: 50px;}
.content{width: 100%;height: 500px;background: #E5E6EA;}
.content .cleft{width: 50%;height: 100%;float: left;}
.content .cleft img{width: 400px;}
.content .cleft .culs{width: 80%;height: 30px;margin: 50px auto;}
.content .cleft .culs li:hover{position: relative;top: 1px;right: 1px;border: 1px solid
		#FAAC62;}
.content .cleft .culs li{width: 66px;height: 28px;border-radius: 4px;border: 1px solid #B2B2B2;float: left;text-align: center;line-height: 28px;margin-right: 10px;background: #F1F0F1;font-size: 15px;} 
.content .cleft .culs li img{width: 15px;margin-right: 3px;}
.content .cright{width: 50%;height: 100%;float: left;}
.content .cright .nav {margin-top: 35px;position: relative;overflow: hidden; }
.content .cright .nav h1{font-size:22px;font-family: '微软雅黑';margin-left: 5px;color: #444446;}
.content .cright .nav img{position: absolute;top: 6px;left: 123px;}
.content .cright .nav div{float: left;font-size: 12px;margin-top: 16px;}
.content .cright .nav div span{color: #0A4BAD;}
.content .cright .nav .le{width: 30%;}
.content .cright .nav .ce{width: 30%;}
.content .cright .nav .re{width: 40%;}
.content .cright .uls{width: 90%;margin:60px auto;}
.content .cright .uls li{width: 80%;height:30px;line-height:30px;border: 1px solid #FAAC62;text-align: center;margin: 0 auto;margin-bottom: 10px;border-radius: 5px;}
.content .cright .uls li:hover{position: relative;top: 1px;left: 1px;color:#FAAC62;}
footer{width: 100%;height: 50px;}
footer .box{width: 174px;height: 50px;float: left;}
footer .box img{margin-left: 20px;margin-top: 7px;}
footer .a{float: left;margin-top: 16px;margin-left: 30px;}
footer .makes{float:left;width: 370px;height: 6px;background: gray;margin-left: 20px;margin-top:23px; }
footer .progress{width:0;height: 6px;background:#FAAC62; }
footer .b{float: left;width:40px;height:18px;margin-top: 15px;margin-left: 14px;}
footer .random{float:left;margin-top: 10px;margin-left: 10px;}